<div class = "def-section-header col-md-12 col-sm-12">
    <h4 class = "title">ثبت کسب و کار</h4>
</div>
<div class = "content col-md-12 col-sm-12">
    <div class = "row">
        <div class = "col-md-7">
            <ul class = "list-group">
                <li class = "list-group-item">
                    اگر می خواهید درآمدی چند برابر داشته باشید همین الان به هزاران کسب کار بپوندید
                </li>
                <li class = "list-group-item">
                    هر کسب و کار می تواند با توجه به نیازها و برنامه های توسعه بازار خود، عضو یک یا
                    چندبرنامه توسعه ذیل در قالب شبکه آیکیو کارت شود:
                </li>
                <li class = "list-group-item">
                    شبکه پذیرندگان: در این شبکه همه پذیرندگان از منافع متقابل معرفی مشتری به یکدیگر بهره مند
                    می شوند و هر کسب و کار در فروش سایر کسب و کارها ذی نفع می باشد.
                </li>
                <li class = "list-group-item">
                    شبکه معرفان آیکیو کارت: در این شبکه گروههای مرجع اعم از معلمان، اساتید، کارمندان،
                    هتلداران، آرایشگران و سایر مشاغل می توانند با معرفی مشتری به کسب و کارهای پذیرنده
                    آیکیوکارت در فروش این کسب و کارها ذی نفع باشند.
                </li>
                <li class = "list-group-item">
                    شبکه داخلی مراکز خرید: این شبکه ویژه مجموعه ای از کسب و کارهای پذیرنده در هر بازار یا
                    مرکز خرید می باشد که از تنوع صنفی جهت تامین نیاز دارندگان کارت برخوردار است
                </li>

            </ul>
        </div>
        <div class = "col-md-5">
            <figure class = "figure">
                <img src = "{{ app.basePath }}images/iq-business.jpg" class = "img-responsive" alt = " business cart">
            </figure>
        </div>
    </div>
</div>
<div class = "def-section-footer col-md-12 col-sm-12">
    <a href = "advertise/add" class = "btn btn-outline-success">همین الان ثبت کن !</a>
</div>