
    <div class = "row">

        <div class = "col-md-4 alias">
            <div class = "row">
                <div class = "col-md-4">
                    <a href = "{{ app.baseUrl }}"> <img src = "{{ app.basePath }}images/logo.png" class = "img-responsive"
                                                 alt = "iq office logo best for seo">
                    </a>
                </div>
                <div class = "col-md-8 logo-text">
                    <a href = "{{ app.baseUrl }}">
                        <h1 class = "">آیکیو آفیس</h1>
                        <h3> بهبود کیفیت زندگی ایرانی</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class = "col-md-5 base-line">
            <nav class = "navbar top-nav">
                <ul class = "list-inline">
                    <li class = "list-inline-item"><a href = "#business">
                            <i class = "fa fa-building"></i>
                            ثبت کسب و کار
                        </a></li>
                    <li class = "list-inline-item"><a href = "#iq-cart"><i class = "fa fa-money-check-alt"></i>
                            آیکیو کارت</a></li>
                    <li class = "list-inline-item"><a href = "#service"><i class = "fa fa-handshake"></i>
                            خدمات
                        </a></li>
                    <li class = "list-inline-item"><a href = "#contact-us">
                            <i class = "fa fa-life-ring"></i>
                            تماس با ما
                        </a></li>
                </ul>
            </nav>
        </div>
        <div class = "col-md-3 base-line">
            <form action = "" class = "form-inline">
                <div class = "input-group">
                    <input type = "search" class = "form-control search-input" name = "search"
                           title = "Please Enter Your Word">
                    <button type = "submit" class = "btn btn-primary search-btn"><i class = "fa fa-search"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>



