<div class = "def-section-header col-md-12 col-sm-12">
    <h4 class = "title">آیکیو کارت </h4>
</div>
<div class = "content col-md-12 col-sm-12">
    <div class = "row">
        <div class = "col-md-7">
            <ul class = "list-group">
                <li class = "list-group-item">
                    شبکه ای است هوشمند با عضویت پذیرندگان کسب و کارها در اصناف و مشاغل مختلف شهرها، مناطق
                    شهری و مراکز خرید،دارای منافع مشترک و با حضور معرفان، تورهای گردشگری، ادارات، ارگانها،
                    شرکت های خصوصی و مشتریان که در آن مجموعه ای از خدمات فروش، وفاداری مشتریان، اطلاع رسانی،
                    بازاریابی و توسعه بازار پذیرندگان کسب و کارها و مدیریت روابط اعضا، تحت برند و نرم افزار
                    (( آیکیوکارت)) انجام میشود.
                </li>
                <li class = "list-group-item">
                    این شبکه با هدف توانمندسازی، ارتقای سطح هوشمندی و کیفیت بازار و کسب وکار ایرانی و نیز
                    مقابله با پیامدهای رکود و برای ورود به مسیر توسعه منطبق با استانداردهای روز جهانی تاسیس
                    شده است.
                    مدیریت این شبکه با شرکت ((رویان رسانه)) است که در چارچوب قوانین کشور و دستورالعمل ها و
                    قراردادهای پذیرفته شده از طرف اعضای این شبکه، اداره میگردد.
                </li>
                <li class = "list-group-item">
                    این شبکه فاقد ویژگی های شبکه های عمودی (زیرمجموعه داری) است و از نوع شبکه های افقی و
                    همسطح است ومنافع آن در قالب کمیسیون فروش بین ذینفعان تقسیم میشود.
                </li>
            </ul>
        </div>
        <div class = "col-md-5">
            <figure class = "figure">
                <img src = "{{ app.publicUrl }}images/iq-cart.png" class = "img-responsive" alt = " business cart">
            </figure>
        </div>
    </div>
</div>
