<div class = "def-section-header col-md-12 col-sm-12">
    <h4 class = "title">خدمات </h4>
</div>
<div class = "content col-md-12 col-sm-12">
    <div class = "row">
        <div class = "col-md-7">
            <ul class = "list-group">
                <li class = "list-group-item">
                    (( آیکیوبرگ))، ((آیکوکد)) کارت، پیامک، ایمیل یا نوتیفیکیشنی است که در آن کد ویا بارکد
                    تخفیف درج شده است، توسط این کارت معرفان وتورها میتوانند، مخاطبان ومسافران خود را جهت
                    انجام خرید با تخفیف به کسب وکارهای پذیرنده معرفی کنند و بنابر قرارداد هر پذیرنده با
                    شبکه، درصدی از فروش را به عنوان کمیسیون دریافت نمایند ، همچنین پذیرندگان شبکه نیز
                    میتوانند از طریق آیکیوبرگ ویا آیکیوکد نسبت به معرفی مشتری به یکدیگر اقدام و آنها نیز از
                    اعزام و معرفی مشتریان به سایر کسب وکارهای عضو شبکه امتیاز وکمیسیون دریافت نمایند.
                    جهت شناخت پذیرندگان، افراد معرفی شده، میتوانند از بروشورهایی که دراختیارشان قرار میگیرد،
                    استفاده نمایند و یا در صورت عدم دسترسی به بروشور وکتابچه، به کانال تلگرام، اینستاگرام و
                    وب سایت آیکیوکارت، منوی «پذیرندگان» مراجعه کنند.
                    توجه: هر آیکیوبرگ در هر پذیرنده یک بار مصرف خواهد بود و قابلیت استفاده در تمام پذیرندگان
                    برای «یک نوبت» را دارا میباشد.
                </li>
            </ul>
        </div>
        <div class = "col-md-5">
            <figure class = "figure">
                <img src = "{{ app.basePath }}images/service.jpg" class = "img-responsive" alt = " business cart">
            </figure>
        </div>
    </div>
</div>